<div id="app">
  <section class="section forgotpwd-form">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
          <div class="login-brand">
            <img routerLink="/login" src="../assets/img/auto-intelli-240.png" alt="logo">
          </div>
          <div class="card card-primary">

            <form #verifyEmailForm="ngForm" class="col s12 white" (ngSubmit)="OnVerifyEmail()">


              <div class="card-body" style="padding: 0px;">
                <div class="tab-content no-padding" id="myTab2Content">
                  <h5 style="text-align: center;
                border-bottom: 1px solid #efefef;
                padding-bottom: 20px;">Autointelli Forgot Your Password</h5>



                  <!-- <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link active" id="log-tab1" data-toggle="tab" href="#log1" role="tab"
                      aria-controls="log1" aria-selected="true" style="padding: 20px; color: #607D8B;"><span style="display: inline-block; width: 35px; height: 35px; background: #7180f0; color: #fff;
                      padding: 5px 9px; border-radius: 17px; margin-right: 12px;">01</span> Identify</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="log-tab2" data-toggle="tab" href="#log2" role="tab" aria-controls="log2"
                      aria-selected="false" style="padding: 20px; color: #607D8B;"><span style="display: inline-block; width: 35px; height: 35px; background: #7180f0; color: #fff;
                      padding: 5px 9px; border-radius: 17px; margin-right: 12px;">02</span> Verify</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="log-tab3" data-toggle="tab" href="#log3" role="tab" aria-controls="log3"
                      aria-selected="false" style="padding: 20px; color: #607D8B;"><span style="display: inline-block; width: 35px; height: 35px; background: #7180f0; color: #fff;
                      padding: 5px 9px; border-radius: 17px; margin-right: 12px;">03</span> Reset</a>
                  </li>
                </ul> -->



                  <div class="tab-pane fade show active" id="log1" role="tabpanel" aria-labelledby="log-tab1">
                    <div class="form-group">
                      <label for="frist_name">Enter your Email Address</label>


                        <input type="email" class="form-control" autofocus #emailControl="ngModel" [(ngModel)]="reSendEmail.email"
                        name="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

                      <div *ngIf="emailControl.errors && (emailControl.invalid || emailControl.touched)">
                        <small class="text-danger" *ngIf="emailControl.errors.required && emailControl.touched">
                          email is required</small>
                        <small class="text-danger" *ngIf="emailControl.errors.pattern">Please provide a valid email
                          address</small>
                      </div>



                    </div>
                    <div class="form-group" style="text-align: end;">
                      <!-- <a href="#" class="btn btn-icon icon-right btn-primary">Next <i class="fas fa-arrow-right"></i></a> -->

                      <button class="btn btn-icon icon-right btn-primary">Submit <i
                          class="fas fa-arrow-right"></i></button>
                    </div>
                  </div>


                  <!-- <div class="tab-pane fade" id="log2" role="tabpanel" aria-labelledby="log-tab2">
                  <div class="form-group">
                    <label for="email">OTP</label>
                    <input id="txtfypotp" type="text" class="form-control" name="txtfypotp">
                  </div>
                  <div class="form-group" style="text-align: end;">
                    <a href="#" class="btn btn-icon icon-right btn-primary">Next <i class="fas fa-arrow-right"></i></a>
                  </div>
                </div> -->


                  <!-- <div class="tab-pane fade" id="log3" role="tabpanel" aria-labelledby="log-tab3">
                  <div class="form-group">
                    <label for="password" class="d-block">New Password</label>
                    <input id="txtfyppwd" type="password" class="form-control pwstrength" data-indicator="pwindicator"
                      name="txtfyppwd">
                    <div id="pwindicator" class="pwindicator">
                      <div class="bar"></div>
                      <div class="label"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password2" class="d-block">Confirm Password</label>
                    <input id="txtfypconpwd" type="password" class="form-control" name="txtfyppwd">
                  </div>
                  <div class="form-group" style="text-align: end;">
                    <button type="submit" class="btn btn-primary btn-lg">
                      Submit
                    </button>
                  </div>
                </div> -->



                </div>
              </div>
            </form>

          </div>
          <div class="simple-footer">
            2020 &copy; Copyright Autointelli. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
