.orgsection{
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.neworglist {
  margin-top: 20px;
  margin-Bottom:20px;
  background-color: #cccccc0f;
  padding: 10px;
}

.addUSerCss .form-control{
  font-size: 11px !important;
  margin-top: 10px !important;
}

