<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<!-- Main Content -->
<div class="main-content">

  <div class="section-header">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1>Business Process</h1>
      </div>
    </div>
  </div>

  <div class="orgsection">

    <div class="neworglist">
      <div class="row">
        <div class="col-md-12">

          <p>Test</p>

          <!-- <div #ref class="diagram-container"></div> -->


          <!-- <div class="diagram-parent">
            <app-diagram [url]="diagramUrl" (importDone)="handleImported($event)"></app-diagram>
            <div class="import-error" *ngIf="importError">
              <strong>Failed to render diagram: </strong>
              {{ importError.message }}
            </div>
          </div> -->



        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
