<app-navbar></app-navbar>

<app-sidebar></app-sidebar>


<!-- Main Content -->
<div class="main-content">
  <section class="section">

    <div class="section-header">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h1>Organization</h1>
        </div>
        <!-- <a name="datetimes" class="btn btn-primary" ><i class="fas fa-calendar-week"></i></a> -->
      </div>
    </div>
    <div class="orgsection">
      <div class="row">
        <div class="col-md-12">
          <h2>Add Organization</h2>

          <form #addOrganizationForm="ngForm" (ngSubmit)="OnaddOrganizationSubmit();addOrganizationForm.resetForm()">

            <div class="form-group">
              <label for="OrganizationID">Organization ID</label>
              <input type="text" class="form-control" autofocus #OrganizationIDControl="ngModel"
                [(ngModel)]="AddOrganization.OrganizationID" name="OrganizationID" required>
              <div
                *ngIf="OrganizationIDControl.errors && (OrganizationIDControl.invalid || OrganizationIDControl.touched)">
                <small class="text-danger"
                  *ngIf="OrganizationIDControl.errors.required && OrganizationIDControl.touched">
                  Organization is required</small>
              </div>
            </div>

            <div class="form-group">
              <label for="OrganizationName">Organization Name</label>
              <input type="text" class="form-control" autofocus #OrganizationNameControl="ngModel"
                [(ngModel)]="AddOrganization.OrganizationName" name="OrganizationName" required>
              <div
                *ngIf="OrganizationNameControl.errors && (OrganizationNameControl.invalid || OrganizationNameControl.touched)">
                <small class="text-danger"
                  *ngIf="OrganizationNameControl.errors.required && OrganizationNameControl.touched">
                  Organization name is required</small>

              </div>
            </div>


            <div class="form-group">
              <label for="Description">Description</label>
              <input type="text" class="form-control" autofocus #DescriptionControl="ngModel"
                [(ngModel)]="AddOrganization.Description" name="Description" required>
              <div *ngIf="DescriptionControl.errors && (DescriptionControl.invalid || DescriptionControl.touched)">
                <small class="text-danger" *ngIf="DescriptionControl.errors.required && DescriptionControl.touched">
                  Description is required</small>

              </div>
            </div>


            <button [disabled]="addOrganizationForm.invalid" type="submit" class="btn btn-primary btn-lg">
              Add Organization
            </button>

          </form>

        </div>
      </div>

      <div class="neworglist">
        <div class="row">
          <div class="col-md-12">

            <table class="table table-striped">
              <thead>
                <tr>
                  <!-- <th scope="col">ID</th> -->
                  <th scope="col">Organization ID</th>
                  <th scope="col">Organization Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let org of orgInfo">
                  <!-- <td>{{org.id}}</td> -->
                  <td>{{org.OrganizationID}}</td>
                  <td>{{org.OrganizationName}}</td>
                  <td>{{org.Description}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="EditOrgFn(org.id);open(content);">
                      <i class="far fa-edit"></i> Edit</button>
                    <button type="button" class="btn btn-danger" (click)="deleteOrg(org.id)"><i
                        class="far fa-trash-alt"></i> Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>


            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Organization update</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form #EditOrgFormData="ngForm" (ngSubmit)="EditOrgFormDataSubmit();EditOrgFormData.resetForm()">
                  <div class="form-group">
                    <label for="Edit_OrganizationID">Organization ID</label>
                    <input type="text" class="form-control" #Edit_OrganizationIDControl="ngModel"
                      [(ngModel)]="editOrgForm.Edit_OrganizationID" name="Edit_OrganizationID">
                  </div>
                  <div class="form-group">
                    <label for="Edit_OrganizationName">Organization Name</label>
                    <input type="text" class="form-control" #Edit_OrganizationNameControl="ngModel"
                      [(ngModel)]="editOrgForm.Edit_OrganizationName" name="Edit_OrganizationName">
                  </div>
                  <div class="form-group">
                    <label for="Edit_Description">Description</label>
                    <input type="text" class="form-control" #Edit_DescriptionControl="ngModel"
                      [(ngModel)]="editOrgForm.Edit_Description" name="Edit_Description">
                  </div>

                  <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
              </div>
            </ng-template>

          </div>
        </div>


      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
