<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a routerLink="/organization"><img src="../assets/img/auto-intelli-240.png" alt="Brand logo"></a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a routerLink="/organization"><img src="../assets/img/ai-logo-brain-60x60.png" alt="Brand logo"></a>
    </div>
    <ul class="sidebar-menu">
      <!-- <li class="menu-header">Menu</li> -->
      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link " routerLink="/organization"><i class="fas fa-laptop"></i><span>Organization</span></a>
      </li>

      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link " routerLink="/department"><i class="fas fa-laptop"></i><span>Department</span></a>
      </li>

      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link " routerLink="/projects"><i class="fas fa-laptop"></i><span>Projects</span></a>
      </li>

      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link " routerLink="/add_new_user"><i class="fas fa-laptop"></i><span>Add New User</span></a>
      </li>


      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link " routerLink="/business_process"><i class="fas fa-laptop"></i><span>Business Process</span></a>
      </li>


      <li class="nav-item dropdown">
        <a href=" " class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-project-diagram"></i>
          <span>Workflows</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="">Schedule Workflow</a></li>
          <li><a class="nav-link" href="">Excute a Workflow</a></li>
          <li><a class="nav-link" href="">Create/Edit Workflow</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href=" " class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-store"></i><span>Market
            Place</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="">Download Automation</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href=" " class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-info-circle"></i>
          <span>PIM</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="">Credential Store</a></li>
          <li><a class="nav-link" href="">Add/View Machines</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href=" " class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-user-shield"></i>
          <span>Administration</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="">Invite Users</a></li>
          <li><a class="nav-link" href="ad-system-status.html">System Status</a></li>
          <li><a class="nav-link" href="ad-audit-log.html">Audit Log</a></li>
          <li><a class="nav-link" href="ad-manage-users.html">Manage Users</a></li>
          <li><a class="nav-link" href="AD-Integration.html">LDAP/AD Integration</a></li>
          <li><a class="nav-link" href="manage-visa-servers.html">Manage Visa Servers</a></li>
          <li><a class="nav-link" href="manage-department.html">Manage Departments</a></li>
          <li><a class="nav-link" href="">Manage Projects</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href=" " class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-receipt"></i>
          <span>Invoices</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="">Overview</a></li>
          <li><a class="nav-link" href="">Credit Balance</a></li>
          <li><a class="nav-link" href="">Payment Details</a></li>
          <li><a class="nav-link" href="">Invoice Address</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href=" " class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-user-cog"></i>
          <span>User</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="login.html">Login</a></li>
          <li><a class="nav-link" href="forgot-password.html">Forgot Password</a></li>
          <li><a class="nav-link" href="register.html">Signup</a></li>
          <li><a class="nav-link" href="reset-password.html">Reset Password</a></li>
          <li><a class="nav-link" href="">Admin Dashboard</a></li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
